*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui;
}

.hero {
    position: relative;
    color: white;
    place-content: center;
    min-block-size: 80vh;
    text-align: center;

    /*background-color: #074f57;*/
    background-image: url('nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

    padding-bottom: 200px;
    padding-top: 200px;
}

/*.hero:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background-image: linear-gradient(*/
/*        hsl(240, 100%, 20%),*/
/*        hsl(0, 100%, 15%),*/
/*    );*/
/*    z-index: -1;*/
/*}*/

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.overlay {
    border-width: 10px;
    border-style: solid;
    border-image-source: linear-gradient(hsl(240 100% 250% / 0.3), hsl(0 100% 50% / 0.3));
    border-image-slice: fill 1;
}

@layer general-styling {
    html {
        color-scheme: dark ligth;
    }
}
