*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "fantasy";
}

.image {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    letter-spacing: 5px;
    font-size: 3rem;
    background-image: linear-gradient(0deg, rgba(100, 166, 0, 0.66), orange), url('nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@layer general-styling {
    html {
        color-scheme: dark light;
    }
}
